# Xcode
build/
*.xcuserstate
*.xcworkspace/
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM/
*.dSYM.zip

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temp
*.tmp

# Release artifacts
*.dmg

# Test coverage
*.profraw

# Claude
.claude/
